/*layout practice*/
.cube {
    width: 100px;
    height: 100px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}
