<div class='login-container' layout='column' layout-align='center center' layout-padding>

        <!-- login content -->
        <div layout='row' layout-align='center center' layout-fill>
                <md-whiteframe layout layout-fill layout-align='center center' flex='50' class='md-whiteframe-z2'>
                        <h1>Login Page</h1>
                </md-whiteframe>
        </div>

        <!-- back home -->
        <a href='#!/home' style='margin-top:30px'>
                <md-button md-theme='lime' class='md-primary md-raised'>Back Home</md-button>
        </a>
        
</div>

