<div class='login-container' layout='column' layout-align='center center' layout-padding>

        <!-- login content -->
        <div layout='row' layout-align='center center' layout-fill>
                <md-whiteframe flex='50' class='md-whiteframe-z2'>

                <md-toolbar md-theme='pink' class='helper-center'>
                        <h1>Login Page</h1>
                </md-toolbar>

                <form layout='column' layout-align='center center' layout-padding>
                    <span>Password = 'test' for successful login.</span>
                    <div layout='row' layout-align='space-around' layout-fill>
                         <md-text-float label='email' ng-model='login.user.email' type='email'></md-text-float>
                         <md-text-float label='password' ng-model='login.user.password' type='password'></md-text-float>
                    </div>
                    <div layout-padding>
                            <md-button ng-click='login.login()' class='md-raised' md-theme='amber'>
                            Login/Register
                            </md-button>
                    </div>
                </form>


                </md-whiteframe>
        </div>

        <!-- back home -->
        <a href='#!/home' style='margin-top:30px'>
                <md-button md-theme='lime' class='md-primary md-raised'>Back Home</md-button>
        </a>

</div>

