/*layout practice*/
.helper-center {
    text-align: center;
}
.helper-padding {
    padding: 10px;
}
.cube {
    width: 100px;
    height: 100px;
}

.red {
    background: red;
}

.green {
    background: green;
}

.blue {
    background: blue;
}

.yellow {
    background: yellow;
}
